:root {
  /*baclgraund color*/
  --b-dark: #2f303a;
  --b-middle: #f5f4fa;
  --b-blue: #2196f3;
  /*text color*/
  --txt-dark: #212121;
  --txt-grey: #757575;
  --txt-light: #ffffff;
  --txt-bleu: #2196f3;
  /*fonts*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

/*=========== Common ===========*/

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--txt-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  background-color: var(--b-blue);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.link-items :hover,
.link-items :focus,
.address:hover,
.address:focus,
.link-contact:hover,
.link-contact:focus,
.link-addres:focus,
.link-addres:hover {
  color: var(--txt-bleu);
}

/*=========== END Common ===========*/

/*=========== header ===========*/
.head {
  padding-top: 24px;
  padding-bottom: 25px;
}
.head .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.menu-links {
  display: flex;
}
.logo {
  font-family: var(--secondary-font);
  color: var(--txt-bleu);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  height: 31px;

  outline: 2px solid tomato;
}

.logo-dark {
  color: var(--txt-dark);
}

.link-items {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  outline: 2px solid tomato;
}

.address {
  color: var(--txt-grey);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  outline: 2px solid tomato;
}

.accent {
  color: var(--txt-bleu);
}

/*=========== END header ===========*/

/*=========== footer ===========*/

.footer {
  background-color: var(--b-dark);
  height: 252px;
}

.logo-white {
  color: var(--txt-light);
}

.footer-addres {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-addres {
  color: var(--txt-light);
  outline: 2px solid tomato;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
  outline: 2px solid tomato;
}

/*=========== END footer ===========*/

/*index page*/

/*=========== Hero ===========*/

.hero {
  background-color: var(--b-dark);
  min-height: 600px;
  padding-top: 207px;
  padding-bottom: 193px;
}

.main-title {
  color: var(--txt-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0;
}

.btn-hero {
  color: var(--txt-light);
  margin-top: 30px;
  padding: 10px 32px;
}

.btn-hero:hover {
  color: var(--txt-dark);
}
/*=========== END hero ===========*/

/*=========== about ===========*/
.secodary-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  outline: 2px solid tomato;
}

.description-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.principle {
  width: 270px;

  outline: 2px solid tomato;
}

.item-box {
  outline: 2px solid tomato;
}
.footer .container,
.item-box .container {
  padding: 94px 215px;
}
.team {
  background-color: var(--b-middle);
}

.team-card {
  width: 270px;
  outline: 2px solid tomato;
}

.worker-name {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.speciality {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/*=========== END about ===========*/

/*portfolio page*/
.btn-portfolio {
  background-color: var(--b-middle);
  color: var(--txt-dark);
  font-weight: 500;
}

.btn-portfolio:hover {
  background-color: var(--b-blue);
  color: var(--txt-light);
}

.portfolio-card {
  width: 370px;
  outline: 2px solid tomato;
}

.portfolio-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-grey);
}
